body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #a52a2a;
    color: white;
    display: flex;
    align-items: center;
    padding:5px 20px;
}
.header-text {
    flex: 1;
    text-align: center;
    
}

.hero img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.content {
    padding: 20px;
    text-align: center;
}

.content h2 {
    color: #a52a2a;
}

.leaders {
    background-color: #ffe4c4;
    padding: 15px;
    text-align: center;
}

.leader-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.leader-card {
    text-align: center;
}

.leader-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #a52a2a;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
}
h3{
  color:blue;
}
.view-more-container {
    text-align: center;
    margin-top: 20px;
}

.view-more-btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #d32f2f; /* Dark Red */
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.view-more-btn:hover {
    background-color: #b71c1c; /* Darker Red */
    transform: scale(1.05);
}